body{
	background-color: darkgrey;
}

h4 {
	font-family: 'Luckiest Guy', cursive;
}

.submitbtn {
	text-shadow:
    -1px -1px 0 #50394c,
    1px -1px 0 #50394c,
    -1px 1px 0 #50394c,
    1px 1px 0 #50394c;
}

.btn{
	font-family: 'Luckiest Guy', cursive;
}

#top-bar{
	background-color: #50394c; 
	margin-bottom: 20px;
}

#contentWrap{
	display:none;
}

.error{
	color:red;
}

.whisper{
	color:gray;
	font-style:italic;
}

#chat{
	height:450px;
	overflow-y: scroll;
	background-color: white;
}

#nickWrap{
	color: #ffcc5c;
	text-align: center;
}

#setNick{
	color:black;
}

#chatWrap{
	background-color: white;
	border:3px #50394c solid;

}

#users{
	font-size: 15px;
	border: solid 3px #50394c;
}

.userwrap{
	text-align: center;
	background-color: #50394c;
	color:white;
  }

#message{
	color: black;
}

.msg {
	font-size: 15px;
	font-weight: bold;
	padding: 4px;
	margin: 3px;
	border-radius: 5%;
}

#descriptorwrap {
	margin-top: 30px;
	text-align:center;
}

#descriptorwrap .glyphicon {
	font-size:80px;
	color: #ffcc5c;
	
}

#descriptorwrap h4 {
	color: #50394c;
}

.footer {
	background:#50394c;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
}
