body{
	background-color: darkgrey;
}

h4 {
	font-family: 'Luckiest Guy', cursive;	
}

.btn{
	font-family: 'Luckiest Guy', cursive;
}

#top-bar{
	background-color: #50394c; 
	/* border-bottom: solid 5px white; */
	margin-bottom: 20px;
}

#nickWrap{
	color: #ffcc5c;
	text-align: center;
}

#setNick{
	color:black;
}

#chatwrap{
	background-color: white;
}

#chat{
	background-color: white;
}

#users{
	font-size: 15px;
	border: solid 3px #50394c;
}

#message{
	color: black;
}

.msg {
	font-size: 15px;
	font-weight: bold;
	/* color: #ffcc5c; */
	/* background-color: #50394c; */
	padding: 4px;
	margin: 3px;
	border-radius: 5%;
}

#map {
	height: 100%;
	width: 100%
}

